<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title>Skill List</title>
</head>
<body>
<h1>Skill List</h1>
<a href="/skills/create">Create New Skill</a>
<table>
  <thead>
  <tr>
    <th>Skill Name</th>
    <th>Actions</th>
  </tr>
  </thead>
  <tbody>
  <tr th:each="skill : ${skills}">
    <td th:text="${skill.name}"></td>
    <td>
      <a th:href="@{/skills/{id}(id=${skill.skill_id})}">Edit</a> |
      <a th:href="@{/skills/delete/{id}(id=${skill.skill_id})}">Delete</a>
    </td>
  </tr>
  </tbody>
</table>
</body>
</html>
