<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title>Edit User</title>
</head>
<body>
<h1>Edit User</h1>
<form action="#" th:action="@{/users/{id}(id=${user.user_id})}" th:object="${user}" method="post">
  <label for="firstName">First Name</label>
  <input type="text" id="firstName" th:field="*{firstName}" /><br/>

  <label for="lastName">Last Name</label>
  <input type="text" id="lastName" th:field="*{lastName}" /><br/>

  <label for="email">Email</label>
  <input type="email" id="email" th:field="*{email}" /><br/>

  <label for="role">Role</label>
  <input type="text" id="role" th:field="*{role}" /><br/>

  <button type="submit">Save Changes</button>
</form>
<a href="/users">Back to User List</a>
</body>
</html>
